<div class="container">
  <div class="form-container">
    <h2 class="text-center text-white">Reset password</h2>
    <p>Enter the email address or username associated with your account and we'll send you an email.</p>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label text-white">Email address or user name</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email or user name">
      </div>
      <button type="submit" class="btn btn-signin w-100">Send</button>
    </form>
  </div>
</div>
